body {
    background-color: lightblue;
}
ul {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    list-style-type: none;
    justify-content: space-between;
}
li {
    width: 200px;
    border: 1px solid black;
}
img {
    width: 150px;
}